{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}

<div class="row">
    <div class="col fo">
        <article class="pr-4 mb-4 pb-3 text-justify">
            <h4 class="text-danger font-weight-bold lead">{{ article.category.title }}</h4>
            <h2>{{ article.title }}</h2>
            <div class="text-muted py-1">
                Publié le {{ article.createdAt ? article.createdAt|date('d-m-Y à H:i:s') : '' }}
            </div>
            <div class="mt-2">
                <img class="float-left mr-3 img-fluid" style="max-width: 200px; width: 100%;" src="{{ article.image }}"
                    alt="{{ article.title }}">
                {{ article.content | raw | nl2br }}
                <!-- <a class="btn btn-primary btn-sm" href="{#{ path('article_show', {'id': article.id}) }#}">Lire la suite</a> -->
                {% if app.user %}
                <div class="row">
                    <div class="col-sm-1">
                        <a id="edit" class="btn btn-secondary mt-4"
                            href="{{ path('article_edit', {'id': article.id}) }}">Editer</a>
                    </div>
                    <div class="col-sm-1 ml-3">
                        {{ include('article/_delete_form.html.twig') }}
                    </div>
                </div>
                {% endif %}
            </div>
        </article>
    </div>
</div>

{% endblock %}